<div id="nav">
  <div class="bg bg-primary"></div>
  <div class="svg">
    <svg viewBox="0 0 1440 320">
      <path class="fill-primary" fill-opacity="1" d="M0,224L26.7,208C53.3,192,107,160,160,122.7C213.3,85,267,43,320,21.3C373.3,0,427,0,480,21.3C533.3,43,587,85,640,122.7C693.3,160,747,192,800,213.3C853.3,235,907,245,960,224C1013.3,203,1067,149,1120,160C1173.3,171,1227,245,1280,261.3C1333.3,277,1387,235,1413,213.3L1440,192L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path>
    </svg>
  </div>
  <div class="pseudo-container">
    <mat-divider></mat-divider>
    <div class="pseudo">
      <mat-icon>person</mat-icon>
       <span [ngClass]="{'opened':open, 'closed':!open}">{{ pseudo }}</span>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="list-container">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item [routerLinkActive]="'active bg-primary mat-elevation-z10'" routerLink="{{item.path}}">
        <ng-container *ngIf="item.data">
          <div class="part">
            <mat-icon class="sidenav-icon">{{ item.data['icon'] }}</mat-icon>
            <span [ngClass]="{'opened':open, 'closed':!open}">{{ item.data['text'] }}</span>
          </div>
        </ng-container>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
      </a>
    </mat-nav-list>
  </div>
</div>