<div id="nav">
  <div class="logo">
    <logo-zen></logo-zen>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="is-active">
         <icon><icon-ihome /></icon> Home
        </a>
      </li>
      <li>
        <a routerLink="library" routerLinkActive="is-active">
          <icon><icon-ilibrary /></icon> Library
        </a>
      </li>
      <ng-container *ngIf="isAdmin">
        <li>
          <a routerLink="addBook" routerLinkActive="is-active">
            <icon><icon-add/></icon> Add AudioBook
          </a>
        </li>
      </ng-container>
      <li id="off"><button (click)="logout()"><icon [size]="30"><icon-off [color]="'white'"/></icon></button></li>
    </ul>
  </nav>
</div>
