
#formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
#file {
  padding: 0rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  button {
    width: 200px;
    display: flex;
    align-items: center;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}
.center button {
  width: 100px;
  height: 50px;
}
mat-card-content{
  padding: 2rem !important;
}
