<div id="wrapper" class="page">
  <h3>New Audio Book:</h3>
  <div id="formContainer">
    <div id="bookForm">
      <form [formGroup]="form">
        <mat-form-field  appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Enter title" type="text" formControlName="title" />
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>Author</mat-label>
          <input matInput placeholder="Enter Author name" type="text" formControlName="author" />
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>Summary</mat-label>
          <textarea matInput placeholder="Enter summary" formControlName="summary"></textarea>
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <ng-container *ngIf="category">
              <mat-option *ngFor="let cat of category" [value]="cat">{{ cat.name }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </form>
      <form [formGroup]="formFile">
        <div id="file">
          <div>
            <div>
              <button mat-fab extended (click)="bookInput.click()" [disabled]="bookF">
                <ng-container *ngIf="bookF; else bookelse">
                  <mat-icon>check</mat-icon>
                </ng-container>
                <ng-template #bookelse>
                  <div class="v_center gap_50">
                    <mat-icon>library_music</mat-icon> Add audio
                  </div>
                </ng-template>
              </button>
              <input hidden type="file" #bookInput (change)="onBookFileSelected($event)" formControlName="bookFile">
            </div>
            <div>
              <p><small>{{ fileName? fileName : 'No audio book selected'}}</small></p>
              <p><small>Size: {{ fileSize? fileSize : '0'}}Mb</small></p>
            </div>
          </div>
          <div>
            <div>
              <button mat-fab extended  (click)="imageInput.click()" [disabled]="imageF">
                <ng-container *ngIf="imageF; else imageelese">
                  <mat-icon>check</mat-icon>
                </ng-container>
                <ng-template #imageelese>
                  <div class="v_center gap_50">
                    <mat-icon>image</mat-icon> Add image
                  </div>
                </ng-template>
              </button>
              <input hidden type="file" #imageInput (change)="onImageFileSelected($event)" formControlName="imageFile">
            </div>
            <small>{{ imageName? imageName : 'No image selected'}}</small>
          </div>
        </div>
      </form>
      <div class="center">
        <button mat-raised-button  (click)="onSubmit()" [disabled]="form.invalid && formFile.invalid">Submit</button>
      </div>
    </div>
  </div>
</div>