form{
  display: flex;
  flex-direction: column;
  width: 400px;
}
#file{
 display: flex;
 flex-direction: column;
 gap: 1rem;
 margin-bottom: 1rem;
  button{
    width: 200px;
  }
  &>div{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}
#bookForm{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}