<div>
  <button mat-fab (click)="sidenavClick()" class="bg-2">
    <ng-container *ngIf="open; else closedComp">
      <mat-icon>more_vert</mat-icon>
    </ng-container>
    <ng-template #closedComp>
      <mat-icon>list</mat-icon>
    </ng-template>
  </button>
</div>
<div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item [matMenuTriggerFor]="themeMenu">
      <mat-icon>palette</mat-icon>
      <span>Colors</span>
    </button>
    <button mat-menu-item>
      <app-toggle></app-toggle>
    </button>
  </mat-menu>
  <mat-menu #themeMenu="matMenu">
    <ng-container *ngFor="let theme of themes; index as i">
      <button mat-menu-item (click)="onClick(theme)">
        <mat-icon [ngClass]="'color-' + theme.className">crop_square</mat-icon>
        <span>{{ theme.color }}</span>
      </button>
    </ng-container>
  </mat-menu>
</div>

