<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="colors">
      <mat-icon>color_lens</mat-icon>
      <span>Color</span>
    </button>
    <button mat-menu-item>
        <app-toggle></app-toggle>
    </button>
  </mat-menu>
  <mat-menu #colors="matMenu">
    <button mat-menu-item>
      <mat-icon>color_lens</mat-icon>
      <span>Blue</span>
    </button>
    <button mat-menu-item>
        <mat-icon>color_lens</mat-icon>
        <span>Orange</span>
    </button>
  </mat-menu>
