<div id="audio">
  <ng-container *ngIf="this.state.init; else elseBlock">
    <div class="wrapper">
      <div id="task">
        <button mat-mini-fab  (click)="playBack()" class="btn bg-1" [disabled]="!this.state.canPlay">
          <mat-icon>replay_10</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="playStop()" class="btn" [disabled]="!this.state.canPlay">
            <ng-container *ngIf="this.state.playing; else elseBlock">
              <mat-icon>pause</mat-icon>
            </ng-container>
            <ng-template #elseBlock>
              <mat-icon>play_arrow</mat-icon>
            </ng-template>
        </button>
        <button mat-mini-fab  (click)="playForward()" class="btn bg-1" [disabled]="!this.state.canPlay">
          <mat-icon>forward_10</mat-icon>
        </button>
      </div>
      <app-progress-bar (timeEvent)="setNewCurrentTime($event)"></app-progress-bar>
      <app-volume [isPlayable]="this.state.canPlay" (rangeEvent)="setNewRange($event)"></app-volume>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <app-spinner [color]="'blue'"></app-spinner>
  </ng-template>
</div>
