#audio{
    padding: 2rem 0;

    .wrapper{

        #task{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .btn{

            }
        }
    }
}