<div id="audio">
  <ng-container *ngIf="this.state.init; else elseBlock">
    <div class="wrapper">
      <div id="task">
        <button #btn (click)="playBack()" class="btn" [disabled]="!this.state.canPlay">
          <icon [size]="20"><icon-play-back></icon-play-back></icon>
        </button>
        <button #btn (click)="playStop()" class="btn" [disabled]="!this.state.canPlay">
          <icon [size]="20">
            <ng-container *ngIf="this.state.playing; else elseBlock">
              <icon-pause></icon-pause>
            </ng-container>
            <ng-template #elseBlock>
              <icon-play></icon-play>
            </ng-template>
          </icon>
        </button>
        <button (click)="playForward()" class="btn" [disabled]="!this.state.canPlay">
          <icon [size]="20"><icon-play-forward></icon-play-forward></icon>
        </button>
      </div>
      <app-progress-bar [timePassed]="this.state.currentTime" [duration]="this.state.duration"
        (timeEvent)="setNewCurrentTime($event)"></app-progress-bar>
      <app-volume [isPlayable]="this.state.canPlay" (rangeEvent)="setNewRange($event)"></app-volume>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <app-spinner [color]="'blue'"></app-spinner>
  </ng-template>
</div>
