

  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-nav></app-nav>
    </mat-drawer>
    <mat-drawer-content>
      <div id="container">
        <mat-toolbar>
          <app-toolbar></app-toolbar>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </div>
      <ng-container *ngIf="audioBook">
          <app-audio [audioBook]="audioBook"></app-audio>
      </ng-container>
      <app-message></app-message>
    </mat-drawer-content>
  </mat-drawer-container>

