

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class=" mat-elevation-z8" [fixedTopGap]="0" [fixedInViewport]="true">
      <app-nav [routes]="children"></app-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-container-page>
        <mat-toolbar toolbar>
          <app-toolbar></app-toolbar>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </app-container-page>
      <!-- <ng-container *ngIf="audioBook">
          <app-audio [audioBook]="audioBook"></app-audio>
      </ng-container> -->
      <app-message></app-message>
    </mat-sidenav-content>
  </mat-sidenav-container>

