<app-page>
  <span h3>Manage Users:</span>
  <div>
    <table mat-table [dataSource]="users" class="mat-elevation-z10">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>
      <ng-container matColumnDef="pseudo">
        <th mat-header-cell *matHeaderCellDef> Pseudo </th>
        <td mat-cell *matCellDef="let element"> {{element.pseudo}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Date creation </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date : 'dd/MM/YYYY'}} </td>
      </ng-container>
      <ng-container matColumnDef="lastActivityDate">
        <th mat-header-cell *matHeaderCellDef> Last activity </th>
        <td mat-cell *matCellDef="let element"> {{element.lastActivityDate}} </td>
      </ng-container>
      <ng-container matColumnDef="accountLocked">
        <th mat-header-cell *matHeaderCellDef> Locked account</th>
        <td mat-cell *matCellDef="let element">
           <mat-slide-toggle
            color="primary"
            [checked]="!element.accountLocked"
            (change)="update($event, element.id)"
            >
            {{element.accountLocked? 'Locked' : 'Active'}}
          </mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-mini-fab color="warn" (click)="delete(element.id)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;  let i = index"></tr>
    </table>
  </div>
</app-page>
