<app-page>
  <span h3>Manage Users:</span>
  <div>
    <app-card>
      <h4 title>New User</h4>
      <mat-icon icon>check</mat-icon>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" matTooltipPosition="below"
        [matTooltip]="'length max:' + validation.pseudo.maxLength.toString() + ' min:' + validation.pseudo.minLength.toString()"
        >
          <mat-label>Pseudo</mat-label>
          <input matInput placeholder="Enter pseudo" type="text" formControlName="pseudo" />
        </mat-form-field>
        <mat-form-field appearance="outline" matTooltipPosition="below"
        [matTooltip]="'length max:' + validation.email.maxLength.toString()"
        >
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter email" type="email" formControlName="email"  />
        </mat-form-field>
        <mat-form-field appearance="outline" matTooltipPosition="below"
        [matTooltip]="'length min:' + validation.password.minLength.toString() + ' max:' + validation.password.maxLength.toString()"
        >
          <mat-label>Pseudo</mat-label>
          <input matInput placeholder="Enter pseudo" type="password" formControlName="password" autocomplete="new-password"/>
        </mat-form-field>
      </form>
      <div class="submit">
        <button color="primary" mat-raised-button (click)="add()" [disabled]="form.invalid">Submit</button>
      </div>
    </app-card>
    <table mat-table [dataSource]="users" class="mat-elevation-z10">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>
      <ng-container matColumnDef="pseudo">
        <th mat-header-cell *matHeaderCellDef> Pseudo </th>
        <td mat-cell *matCellDef="let element"> {{element.pseudo}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Date creation </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date : 'dd/MM/YYYY'}} </td>
      </ng-container>
      <ng-container matColumnDef="lastActivityDate">
        <th mat-header-cell *matHeaderCellDef> Last activity </th>
        <td mat-cell *matCellDef="let element"> {{element.lastActivityDate}} </td>
      </ng-container>
      <ng-container matColumnDef="accountLocked">
        <th mat-header-cell *matHeaderCellDef> Locked account</th>
        <td mat-cell *matCellDef="let element">
           <mat-slide-toggle
            color="primary"
            [checked]="!element.accountLocked"
            (change)="update($event, element.id)"
            >
            {{element.accountLocked? 'Locked' : 'Active'}}
          </mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-mini-fab color="warn" (click)="delete(element.id)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;  let i = index"></tr>
    </table>
  </div>
</app-page>
