
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');


*{
  margin: 0;
  box-sizing: border-box;
}
html, body { height: 100%; }
.emoji{
  font-family: 'Noto Color Emoji', sans-serif;
}

.center{
  display: flex;
  justify-content: center;
}
.v_center{
  display: flex;
  align-items: center;
}
.gap_25{
  gap: 0.25rem;
}
.gap_50{
  gap: 0.5rem;
}
.gap_75{
  gap: 0.75rem;
}
.gap_100{
  gap: 1rem;
}
.enlarge-button{
  padding: 1.5rem 2rem !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dark-theme .active {
  span, mat-icon{
    color: black;
  }
}
.light-theme .active {
  span, mat-icon{
    color: white;
  }
}
.submit{
  button{
      margin: 1.5rem;
      padding: 1.5rem;
  }
}

tr{
  width: 100%;
}