
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-audioBook-primary: mat.define-palette(mat.$indigo-palette);
$ng-audioBook-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-audioBook-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-audioBook-theme: mat.define-light-theme((
  color: (
    primary: $ng-audioBook-primary,
    accent: $ng-audioBook-accent,
    warn: $ng-audioBook-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-audioBook-theme);

@import '@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-indigo);
$custom-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$custom-warn:    mat-palette($mat-red);

// $dark-theme-background-palette: (
//   status-bar: black,
//   app-bar:    green,
//   background: #750808,
//   hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
//   card:       grey,
//   dialog:     grey,
//   disabled-button: rgba(white, 0.12),
//   raised-button: grey,
//   focused-button: $light-focused,
//   selected-button: grey,
//   selected-disabled-button: grey,
//   disabled-button-toggle: black,
//   unselected-chip: grey,
//   disabled-list-option: rgba(white, 0.12),
//   tooltip: rgb(131, 35, 35),
// );

$custom-theme-light: mat-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,  
  )
));
$custom-theme-dark: mat-dark-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,  
  ),
));
@function modify-background($theme, $bg, $bg-light) {
  // Replace the background in the color object's background palette.
  $theme-color: map-get($theme, color);
  $color-background-palette: map-get($theme-color, background);
  $color-background-palette: map-merge($color-background-palette, (background: $bg));
  $color-background-palette: map-merge($color-background-palette, (raised-button: $bg));
  $color-background-palette: map-merge($color-background-palette, (dialog: $bg-light));
  $color-background-palette: map-merge($color-background-palette, (card: $bg-light));

  // Replace the background in the background palette.
  $background-palette: map-get($theme, background);
  $background-palette: map-merge($background-palette, (background: $bg));
  $background-palette: map-merge($background-palette, (raised-button: $bg));
  $background-palette: map-merge($background-palette, (dialog: $bg-light));
  $background-palette: map-merge($background-palette, (card: $bg-light));

  // Merge the changes into a new theme.
  $modified-theme-color: map-merge($theme-color, (background: $color-background-palette));
  $modified-theme: map-merge($theme, (color: $modified-theme-color));
  $modified-theme: map-merge($modified-theme, (background: $background-palette));

  @return $modified-theme;
}
$custom-theme-dark: modify-background($custom-theme-dark, rgb(15,15,15), rgb(30,30,30));

@include angular-material-theme($custom-theme-dark);

// Class

.color-primary{
  color: mat.get-color-from-palette($custom-primary, 500);
}
