@use '@angular/material' as mat;
@include mat.core();
@import "/src/scss/theme_variable";
@import "/src/scss/theme_function";


@mixin define-classes($palette){
  .color-primary{
    color: mat.get-color-from-palette($palette, 500) !important;
  }
  .fill-primary{
    fill: mat.get-color-from-palette($palette, 500) !important;
  }
  .bg-primary{
    background-color: mat.get-color-from-palette($palette, 500) !important;
  }
}
.bg-theme-1{
  background-color: mat.get-color-from-palette($primary-1, 500) !important;
}
.bg-theme-2{
  background-color: mat.get-color-from-palette($primary-2, 500) !important;
}
.bg-theme-3{
  background-color: mat.get-color-from-palette($primary-3, 500) !important;
}
.bg-theme-4{
  background-color: mat.get-color-from-palette($primary-4, 500) !important;
}
.bg-theme-5{
  background-color: mat.get-color-from-palette($primary-5, 500) !important;
}
.color-theme-1{
  color: mat.get-color-from-palette($primary-1, 500) !important;
}
.color-theme-2{
  color: mat.get-color-from-palette($primary-2, 500) !important;
}
.color-theme-3{
  color: mat.get-color-from-palette($primary-3, 500) !important;
}
.color-theme-4{
  color: mat.get-color-from-palette($primary-4, 500) !important;
}
.color-theme-5{
  color: mat.get-color-from-palette($primary-5, 500) !important;
}






.dark-theme{
  @include mat.all-component-themes(darker-background($dark-theme-1));
  .theme-1{
    @include mat.all-component-colors(darker-background($dark-theme-1));
  }
  .theme-2{
    @include mat.all-component-colors(darker-background($dark-theme-2));
  }
  .theme-3{
    @include mat.all-component-colors(darker-background($dark-theme-3));
  }
  .theme-4{
    @include mat.all-component-colors(darker-background($dark-theme-4));
  }
  .theme-5{
    @include mat.all-component-colors(darker-background($dark-theme-5));
  }
}
.light-theme{
  @include mat.all-component-themes($light-theme-1);
  .theme-1{
    @include mat.all-component-colors($light-theme-1);
  }
  .theme-2{
    @include mat.all-component-colors($light-theme-2);
  }
  .theme-3{
    @include mat.all-component-colors($light-theme-3);
  }
  .theme-4{
    @include mat.all-component-colors($light-theme-4);
  }
  .theme-5{
    @include mat.all-component-colors($light-theme-5);
  }
}
.theme-1{
  @include define-classes($primary-1);
}
.theme-2{
  @include define-classes($primary-2);
}
.theme-3{
  @include define-classes($primary-3);
}
.theme-4{
  @include define-classes($primary-4);
}
.theme-5{
  @include define-classes($primary-5);
}


